<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        width: 100%;
        height: 600px;
      }
    </style>
  </head>
  <body>
    


<div id="map"></div>

<script>


var latitude = 37.4418627
var longitude = -122.2130599


function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: {lat: latitude, lng: longitude}
  });


// Fetch location data with JQuery
$.get("get_location_data", function(data, status){
        //alert("Data: " + data + "\nStatus: " + status);
        var locations= JSON.parse(data);
        //alert(locations)



    for (var i = 0; i < locations.length; i++) {

    var location = locations[i];
    var marker = new google.maps.Marker({
      map: map,
      draggable: false,
      position: {lat: location[1], lng: location[2]},
      animation: google.maps.Animation.DROP,
    });
    attachInfo(marker,location[0])



} // end loop

    });


} // end function

function attachInfo(marker, data) {
  var InfoWindow = new google.maps.InfoWindow({
    content: data
  });

marker.addListener('click', function() {
InfoWindow.open(marker.get('map'), marker);
});

}


</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


  </body>
</html> 